name: Lorax Continuous Integration
on:
  push:

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: 1.22
      - uses: actions/checkout@v3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v4
        with:
          version: v1.56.2
          args: --verbose

  test:
    strategy:
      matrix:
        go-version: [1.22]
        platform: [ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.platform }}

    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Install goveralls
        run: go install github.com/mattn/goveralls@latest

      - name: Checkout code
        uses: actions/checkout@v3

      - run: go test -v -coverprofile=coverage.out ./...

      - uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: coverage.out

      - name: Send coverage
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: goveralls -coverprofile=coverage.out -service=github
